<ion-view view-title="PANCHKULA EXTENSION">
    <ion-content style="background:url('img/img1.jpeg')"  class="catHead">
	<h3>PANCHKULA EXTENSION</h3>
	<div class="mytabbox">
		<a class="mytab" ui-sref="app.abouttheproject">About The Project</a>
		<a class="mytab" ui-sref="app.panchkulaextension">Panchkula  Extension</a>
		<a class="mytab"  ui-sref="app.whatweareoffering">What Are We Offering</a>
		<a class="mytab" >Why Us?</a>
   </div>
   <!-- <div class="card panchkulaextension2">
    <img src="img/img2.jpg" style="height: 240px;">
    <h3>PANCHKULA EXTENSION</h3>
<div class="card">
   <a class="mytableft" ui-sref="app.abouttheproject">About<br/>The Project</a>
   <a class="mytabright" ui-sref="app.panchkulaextension">Panchkula <br/>Extension</a>
</div>
<div class="card">
   <a class="mytableft"  ui-sref="app.whatweareoffering">What Are<br/>We Offering</a>
   <a class="mytabright" style="padding: 35px 28px 35px 28px !important;">Why Us?</a>
</div>
    </div> -->
    </ion-content>
</ion-view>
